@tailwind base;
@tailwind components;
@tailwind utilities;

/* Code Editor */
/* Gutter */
.cm-gutter,
.cm-foldGutter,
.cm-activeLineGutter {
    @apply !bg-cyan-700 text-white;
}

/* Kod editorns text-bakgrund */
.cm-line.cm-activeLine {
    @apply bg-slate-800;
}

/* Rätta till färgkodssyntax för editor */

/* RÄTT / FEL highligts för CodeEditor */
.cm-correct-highlight,
.cm-incorrect-highlight {
    mix-blend-mode: normal;
    border-radius: 2px;
}

.cm-correct-highlight {
    background-color: rgba(34, 197, 94, 0.25) !important;
}

.cm-incorrect-highlight {
    background-color: rgba(239, 68, 68, 0.25) !important;
}
